.navbar-collapse{
    justify-content: center;
}

// div one style start
.divOne{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.divOneContentDiv{
    max-width: 500px;
}

.divOne h1{
    font-weight: bolder;
}


.divOne p{
    font-weight: 500;
    font-family:Arial
}

.divOneButton{
    margin-top: 70px;
}

.divOneButton button{
    border-radius: 200px;
    padding: 10px 20px 10px 20px;
    font-size:150%;
}

.divOneImageDiv{
    height: 450px;
    width: 500px;
}

.divOneImageDiv img{
    height: 100%; 
    width: 100%
}

@media (max-width:400px){
    .divOne{
        display: grid;
        margin-top: 20px;  
    }
    .divOneImageDiv{
        margin-top: 20px;
    }
}
// div one style end

// div two style start
.divTwo{
    margin-top: 150px;
    
}

.divTwo h2{
    font-weight:bold; 
    font-family:Arial;
    text-align: center;
}

.divTwoMainContentDiv{
    margin-top: 70px;
    width: 1100px;
    display: flex;
    justify-content:space-evenly;
}

.divTwoContentDivOne{
    width: 18rem; 
    height:18rem; 
    border-radius:7%;
}

.divTwoContentDivOne p{
    font-family:Arial
}

@media (max-width:400px){
    .divTwo h2{
        font-weight:bold; 
        font-family:Arial;
        text-align: center;
    }

    .divTwoMainContentDiv{
        display: block;
        margin-top: 70px;
        width: 0;
    }

    .divTwoContentDivOne{
        margin-top: 15px;
    }
}
// div two style end

// div three style start
.divThree{
    margin-top: 150px;
}

.divThree h2{
    font-weight:bold;
    font-family:Arial
}

.divThreeMainContentDiv{

    margin-top: 70px;
    width: 1100px;
    display: flex;
    justify-content:space-evenly;
}

.divThreeCardMainDiv{

}

.divThreeImageDiv{
    width:100%
}

.divThreeImageOne{
    width: 100%;
    height:100%
}

.divThreeCardBody{
    width: 18rem;
}

.divThreeCardBody h6{
    font-weight: bold;
}

.divThreeCardBody p{
    font-weight: 500;
}


// div three style end

// div four style start
.divFour{
    margin-top: 150px;
}

.allCardMainDiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.allCardMainDivOne{
    
}

.imageContentDiv{
    display: flex;
    justify-content:start
}

.divFourImageDiv{
}

.divFourButton{
    
    
}

.divFour h2{
    font-weight:bold;
    font-family:Arial
}

.divFourCardMainDiv{
    width: 35rem; 
}

.divFourCardMainDivSpan{
    font-family: Arial; 
    font-weight:bold; 
    font-size:larger
}

.divFourCardMainDivParagraph{
    font-family: Arial;
    font-weight:400;
    font-size:larger;
}

@media (max-width:400px) {
    .allCardMainDiv{
        display: block;
        margin-top:10px;
    }

    .divFourCardMainDivParagraph{
        max-width: 50%;
    }

    .imageContentDiv{
        display: block;
    }
}
// div four style end

// div five style start
.divFiveH2{
    font-weight: bold; 
    margin-top: 150px;  
    font-family:Arial
}

.divFiveMainDiv{
    display: flex;
    justify-content: center;
}

.divFive{
    max-height:350px;
    margin-top: 20px;
}

.divFiveGreenStartDiv{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.greenStarTextDiv{
    margin-top: 20px;
}

.greenStarText{
    font-weight: bold; 
}

.divFiveCardMainDiv{
    margin-top: 50px;
    display: flex;
justify-content: space-evenly;
}

.divFiveCard{
    width: 25rem; 
    height:18rem; 
    border-radius:7%
}

.divFiveUsermageName{
    display: flex;
    justify-content: space-evenly;
}

.divFiveUserName{
    margin-left: 5px;
}

.divFiveCardOne{
    margin-left: 40px;
    margin-right: 40px;
}

.divFiveCardTwo{
    margin-right: 40px;
}

.divFiveCardThree{
    margin-right: 40px;
}

.userInfo{
    font-family: Arial;
}

.divFiveWrittenContent{
    margin-top: 50px;
}

@media (max-width:400px) {
    .divFive{
        max-height:1000px;

    }

    .divFiveGreenStartDiv{
        display: flex;
        margin-top: 10px;
        margin-left: 30px;
    }

    .divFiveCardMainDiv{
        margin-top: 20px;
        display: block;
    }

    .divFiveCardTwo{
        margin-top: 30px;
        margin-left: 40px;
    }

    .divFiveCardThree{
        margin-top: 30px;
        margin-left: 40px;
        margin-bottom: 30px;
    }
}
// div five style end

// div six style start
.divSix{
    margin-top: 300px;
}

.divSixInnerDiv{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
} 

.divSixCard{
    width: 18rem; 
    border-radius:7%
}

@media (max-width:400px) {
    .divSixInnerDiv{
        display: block;
    margin-top: 40px;
    } 

    .divSixCard{
        margin-top: 10px;
    }
}
// div six style end

.footerDiv{
    height: 250px; 
    font-weight:bold; 
    margin-top:100px
}


